<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Header Section -->

    <header class="heading">
      <nav class="nav">
          <a href="{% url 'poll:index' %}">
            <i class="logo">
              <img src="{% static 'images/logo.jpg' %}" alt="logo" />
            </i>
        </a>
        <div class="nav-links">
          <ul>
            <a href="{% url 'poll:result' %}"
              ><li>
                <i class="bi bi-journal-text"></i>
                <span>View Result</span>
              </li>
            </a>
            <a href="{% url 'poll:download_result' %}"
              ><li>
                <i class="bi bi-download"></i>
                <span>Download Result</span>
              </li>
            </a>
          </ul>
        </div>
      </nav>
    </header>

    <!-- End Header Secion -->

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer>
      <span>Made with <i class="bi bi-heart-fill"></i> by codewitgabi</span>
    </footer>
    <!-- End Footer -->

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
