{% extends "poll/base.html" %}
{% block title %} Vote Guidelines {% endblock title %}


{% block content %}
<!-- Main Section -->
<section class="main">
  <main>
    <h2 class="page-title">Nfcs Voting Poll</h2>
    <div class="intro">
      <p>
        Get ready to wield your influence and celebrate excellence like never
        before! Welcome to the ultimate showdown where you decide the icons, the
        trendsetters, and the faces that define
        <em>'extraordinary.'</em>
        From the most captivating charm to the unwavering influence, it's your
        turn to crown the champions in style, charisma, and impact. Your vote
        isn't just a choice; it's a declaration of who sets the standard. Join
        us in honoring those who redefine beauty, influence, and charisma. Cast
        your vote now and be part of history in the making, as we uncover the
        elite, the charismatic, and the influential icons of our time!
      </p>
    </div>
    <div class="guidelines">
      <h2>Guidelines</h2>
      <p>
        These guidelines are the compass that ensures fairness, transparency,
        and integrity in our democratic process. Here, every vote matters, and
        every voice counts. We've crafted these guidelines to foster a
        respectful, inclusive, and equitable environment for all participants.
        Your adherence to these principles shapes the credibility and essence of
        our platform. Thank you for being part of this exciting endeavor!
      </p>
      <ul>
        <li>Enter your whatsapp number in the input box below</li>
        <li>Select your choice for each category</li>
      </ul>
      <div class="phone-form">
        <form action="" method="post" id="phone-form">
          {% csrf_token %}
          <input
            type="text"
            name="phone"
            id="phone"
            autocomplete="off"
            required
            placeholder="Enter phone number"
          />
          {% if messages %}
              {% for message in messages %}
                  <span class="error-msg">{{ message }}</span>
              {% endfor %}
          {% endif %}
          <button id="start-btn">Start Voting...</button>
        </form>
      </div>
    </div>
  </main>
</section>
<!-- End Main Section-->

{% endblock content %}
