{% extends "poll/base.html" %}
{% block title %} Vote Guidelines {% endblock title %}

{% block content %}

        <p class="intro"><b><h2>Hello there!</h2></b><br>Welcome to the NFCS voting polls for the 2023 Sendforth Dinner and Award Night celebration</p>
        <br>
        <h2>Guidelines for voting</h2>
        <p class="mb-10">Please ensure to follow these guidelines strictly so that your votes may count</p>
        <ul>
            <li>Please note that you can only vote once</li>
            <li>Only those who filled the Bio data form are eligible to vote</li>
            <li>Proceed with the Whatsapp phone number filled in the NFCS bio data form</li>
        </ul>
        <div class="form-wrapper">
        {% if messages %}
	        {% for message in messages %}
	            <p style="color: #fff; font-size: 14px; margin-bottom: 10px;">{{ message }}</p>
	        {% endfor %}
        {% endif %}
            <form action="" id="login-form" method="post">
            {% csrf_token %}
                <div class="form-field">
                    <input type="text" name="phone" placeholder="Enter phone number.." required autocomplete="false">
                    <button type="submit">Continue</button>
                </div>
            </form>
        </div>
        
 {% endblock content %}