{% extends "poll/base.html" %}
{% block title %} Vote {% endblock title %}

{% block content %}


    <!-- Poll Section -->
    <section class="poll container">
      <div class="poll-form">
        <form action="" id="poll-form" method="post">
          {% csrf_token %}
          
          {% for category in categories %}
          <div class="category">
            <legend class="category-title">{{ category }}</legend>
            <div class="contestants">
              {% for contestant in category.contestants.all %}
              <label for="{{ category.id }}_{{ contestant.id }}" class="contestant">
                <img src="{{ contestant.image.url }}" alt="contestant-image" />
                <div class="flex mt-1">
                  <input
                    type="radio"
                    id="{{ category.id}}_{{ contestant.id }}"
                    name="{{ category }}"
                    value="{{ contestant.id }}"
                  />
                  <legend class="contestant-name">{{ contestant }}</legend>
                </div>
              </label>
              {% endfor %}
            </div>
          </div>
          {% endfor %}

          <button id="submit-vote-btn">Submit Vote...</button>
        </form>
      </div>
    </section>
    <!-- End Poll Section -->

  
{% endblock content %}
