{% extends "poll/base.html" %}
{% block title %} Vote Guidelines {% endblock title %}

{% block content %}

        <form action="" id="vote-form" method="post">
        {% csrf_token %}
        
        {% for category in categories %}
            <div class="category">
                <legend class="cat-title">{{ category }}</legend>
                <div class="cat-row">
                {% for contestant in category.contestants.all %}
	                <div class="cat-col">
	                    <img src="{{ contestant.image.url }}" alt="contestant-img" class="contestant-img">
	                    <legend class="contestant-name">{{ contestant }}</legend>
	                    <input type="radio" name="{{ category }}" value="{{ contestant.id }}">
	                </div>
	            {% endfor %}
                </div>
            </div>
            {% endfor %}
            <button id="vote-btn">Vote</button>
        </form>
  
{% endblock content %}