.header {
    margin-bottom: 2em;
}
.table-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.table-col ol, .table-col2 ol {
    margin: 1em;
}
.table-col ol li, .table-col2 ol li {
    margin: 0.5em 0;
}
.table-col2 ol li {
    list-style: none;
}