* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: 300;
}
nav {
    margin: 0.5em 0.8em;
    padding: 0.2em 0.5em;
    box-shadow: hsl(0,0%,80%) 0 0 10px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Roboto;
    border-radius: 10px;
}
#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: red;
}
.container {
    margin: 1em 0.9em;
}
.intro {
    margin-bottom: 1.5em;
}
.container h2 {
    margin-bottom: 0.5em;
    font-weight: 500;
}
.container ul {
    margin: 0 0 1em 1em;
}
.container ul li {
    margin: 10px 0;
}
.mb-10 {
   margin-bottom: 10px; 
}
.form-wrapper {
    margin: 1em 0;
    background: #547793;
    padding: 1.3em 1em;
    border-radius: 10px;
}
.form-field {
    display: flex;
    align-items: center;
}
.form-field input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.form-field button {
    padding: 10px;
    background: #df5297;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
}
footer {
    margin: 0.9em;
}
.row {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 500px;
        margin: 2em auto;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 800px;
        margin: 3em auto 2em auto;
    }
    .form-wrapper {
        width: 500px;
    }
}